

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
/*------------------------------------------------ header ------------------------------------------------*/

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #181818;
    color: #ffffff;
}
.logo { /* changne in size of all to match the borders background-color: #181818;*/
    width: 4.5%;

}

header ul{
    float: right;
}

header a{
    color: #ffffff;
    text-decoration: none;
    padding: 8px;
}

.icons{
    margin-top: 5%;
    margin-left: 5%;
    width: 50px;
}

header li{
    list-style: none;
    display: inline-block;
    margin-left: 5px;
}
/*------------------------------------------------ header ------------------------------------------------*/
/*------------------------------------------------ nav ------------------------------------------------*/
nav{
    background-color: rgba(69, 202, 255, 0.788);
    height: 40px;
    padding: 5px;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
}
nav li{
    display: inline-block;


}
/*------------------------------------------------ nav ------------------------------------------------*/
/*------------------------------------------------ center ------------------------------------------------*/
.background{
    width: 100%;
    display: block;

}

.first{
    display: block;
    position: absolute;
    bottom: 500px;
    right: 30%;
    color: rgba(255, 255, 255, 0.9);
    font-size: 100px;
    font-family: 'Brush Script MT', 'Brush Script Std', 'cursive';
}
.last{
    display: block;
    position: absolute;
    bottom: 420px;
    right: 20%;
    color: rgba(255, 255, 255, 0.9);
    font-size: 100px;
    font-family: 'Brush Script MT', 'Brush Script Std', 'cursive';
}  
/*------------------------------------------------ center ------------------------------------------------*/